
.main-container {
  margin:0px;
  padding:0px;
  margin-left:0px;
  padding-left:0px;
  padding-top:0px;
  left:0px;
}

.main-content-container {
  margin:0px;
  padding:0px;
  margin-left:0px;
  padding-left:0px;
  padding-top:0px;
  left:0px;
}

.main-content-section {
  margin-top: 15px;
}

.coolheader {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #AAA;
  line-height: 0;
  margin: 60px 0 30px;
  font-size: 16px;
  cursor: default;
  font-family: 'Lora', serif;
  font-weight: 500;
  box-sizing: border-box;
}

.header1 {
  font-family: 'Raleway', sans-serif;
}
